{% extends 'base.html' %}
{% load mptt_tags %}
{% block title %}Products{% endblock %}
{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit"/>
    </form>
    <ul>
        {% recursetree object_list %}
            <li>
                <a href="{% url 'core:product-detail' node.pk %}">{{ node.name }} <a
                        href="{% url 'core:product-update' node.pk %}">&#x270E;</a> <a
                        href="{% url 'core:product-delete' node.pk %}">&#x2717;</a></a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
        {% if not object_list %}
            No products yet.
        {% endif %}
    </ul>
    {#    TODO: add pagination handling #}
{% endblock %}