{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit"/>
    </form>
    <ul>
        {% for task in object_list %}
            <li>
                <a href="{% url 'core:task-detail' task.pk %}">{{ task.task_description }}
                    - {{ task.reported|default_if_none:'No time reported' }}</a>
                {% if perms.core.change_task %}
                    <a href="{% url 'core:task-update' task.pk %}">&#x270E;</a>
                {% endif %}
                {% if perms.core.delete_task %}
                    <a href="{% url 'core:task-delete' task.pk %}">&#x2717;</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No tasks yet.</li>
        {% endfor %}
    </ul>
    {#    TODO: add pagination handling #}
{% endblock %}