{% extends 'base.html' %}
{% block title %}Ticket detail{% endblock %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.state }}</p>
    <p>Created {{ object.created|date }} by {{ object.author }}</p>
    {% if perms.core.change_ticket and user == object.author %}
        <a href="{% url 'core:ticket-update' object.pk %}" class="uk-button uk-button-default">Update ticket</a>
    {% endif %}
    {% if perms.core.add_comment %}
        <a href="{% url 'core:ticket-comment' object.pk %}" class="uk-button uk-button-default">Comment ticket</a>
    {% endif %}
    {% if perms.core.add_attachment and user == object.author %}
        <a href="{% url 'core:ticket-attach' object.pk %}" class="uk-button uk-button-default">Add attachment</a>
    {% endif %}
    {% if perms.core.change_state_ticket and user == object.product.manager.user %}
        <a href="{% url 'core:ticket-state-update' object.pk %}" class="uk-button uk-button-default">Update ticket
            state</a>
    {% endif %}
    <ul>
        {% for comment in object.comments.all %}
            <li>
                <p>{{ comment.text }}</p>
                <div>
                    <p>by {{ comment.user }}</p>
                </div>
            </li>
        {% endfor %}

    </ul>
{% endblock %}