{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% if perms.users.add_user %}
        <a href="{% url 'users:user-create' %}" class="uk-button uk-button-default">Create user</a>
    {% endif %}
    <ul>
    {% for object in object_list %}
        <li><a href="{% url 'users:user-detail' object.pk %}">{{ object.email }}</a> <a
                href="{% url 'users:user-update' object.pk %}">&#x270E;</a> <a href="{% url 'users:user-delete' object.pk %}">&#x2717;</a></li>
    {% empty %}
        <li>No users yet.</li>
    {% endfor %}
    </ul>
    {#    TODO: add pagination handling #}
{% endblock %}